<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}"
>

<head>
<title>Cadastro de cidade</title>
</head>

<body>

    <section layout:fragment="conteudo">

        <div class="page-header">
            <div class="container-fluid">
                <h1>Cadastro de cidade</h1>
            </div>
        </div>

        <div class="container-fluid">

            <form class="form-vertical  js-form-loading">
                <div class="row">
                    <div class="col-sm-4  form-group  bw-required">
                        <label for="estado" class="control-label">Estado</label>
                        <select id="estado" class="form-control" autofocus="autofocus">
                            <option>Selecione o estado</option>
                        </select>
                    </div>

                    <div class="col-sm-8  form-group  bw-required">
                        <label for="nome" class="control-label">Nome</label>
                        <input id="nome" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn  btn-primary" type="submit">Salvar</button>
                </div>

            </form>
        </div>

    </section>

</body>
</html>
