<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}"
    xmlns:brewer="http://brewer.algaworks.com" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
<title>Pesquisa de cidades</title>
</head>

<body>
    <section layout:fragment="conteudo">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10">
                        <h1>Pesquisa de cidades</h1>
                    </div>

                    <div class="col-xs-2" sec:authorize-url="/cidades/nova">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/cidades/nova}">
                                <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova cidade</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <form method="GET" th:object="${cidadeFilter}">

                <div class="row">
                    <div class="col-sm-4  form-group">
                        <label for="estado" class="control-label">Estado</label>
                        <select id="estado" class="form-control" autofocus="autofocus" th:field="*{estado}">
                            <option value="">Todos</option>
                            <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">Ceará</option>
                        </select>
                    </div>

                    <div class="col-sm-8  form-group">
                        <label for="nome" class="control-label">Nome</label>
                        <input id="nome" type="text" class="form-control" th:field="*{nome}" />
                    </div>
                </div>

                <button type="submit" class="btn  btn-primary">Pesquisar</button>
            </form>

            <div class="table-responsive  bw-tabela-simples">
                <table class="table  table-hover">
                    <thead>
                        <tr>
                            <th class="table-cidades-col-nome"><brewer:order page="${pagina}" field="nome" text="Nome" /></th>
                            <th class="table-cidades-col-estado"><brewer:order page="${pagina}" field="estado" text="Estado" /></th>
                            <th class="table-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="cidade : ${pagina.conteudo}">
                            <td class="text-left" th:text="${cidade.nome}">Fortaleza</td>
                            <td class="text-right" th:text="${cidade.estado.nome}">Ceará</td>
                            <td class="text-center" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')">
                                <a class="btn  btn-link  btn-xs" title="Editar">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a> <a class="btn  btn-link  btn-xs" title="Excluir">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:if="${pagina.vazia}">
                            <td colspan="3">Nenhum cliente encontrado</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <brewer:pagination page="${pagina}">
        </div>

    </section>
</body>
</html>
