<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Olá! Thymeleaf configurado!</h1>
</body>

<form method="POST" th:object="${cerveja}">

	<div th:each="erro : ${#fields.detailedErrors()}">
		<span th:text="${erro.message}"></span>
	</div>

	<span th:text="${mensagem}"></span>
	<br>

	<label>SKU</label>
	<input type="text" name="sku">
	<br>

	<label>Nome</label>
	<input type="text" name="nome">
	<br>

	<label>Descrição</label>
	<input type="text" name="descricao">
	<br>

	<input type="submit" value="Salvar">
</form>
</html>
